@body-bg: #f9f9f9;
@form-bg: rgba(245, 245, 245, 0.7);
@error-color: #f44336;
@success-color: #3c763d;
@success-screen-icon: #63e863;
@popover-header: rgb(0, 151, 167);
@button-panel: rgba(9, 6, 5, 0.82);
@subheader: rgba(0, 0, 0, 0.541176);
@link-color: #1d67a4;
@popover-dialog-header:  #fff;
@submit-btn-bg: rgb(0, 151, 167);
@hint-text: rgb(141, 141, 141);
