@import 'colors';

.event-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.19), 0px 6px 10px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  width: 800px;
  margin: 50px auto;
  margin-top: 0px;
  position: relative;
}
.event-card-header {
  background: @popover-header;
  color: @popover-dialog-header;
  font-size: 30px;
  height: 100px;
  line-height: 1.75em;
  padding: 25px;
}
.event-card-body {
  padding: 15px;
}
.event-card-item {
  border-bottom: 1px solid#e0e0e0;
  border-radius: 3px;
}
.date {
  float: left;
}
.description-wrapper{
  padding: 20px;
  margin: auto;
  b{
    font-size: 16px;
  }
}