@import 'colors';

.header{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 188, 212);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    position: relative;
    z-index: 1100;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px
}

h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding-top: 0px;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    color:@popover-dialog-header;
    height: 64px;
    line-height: 64px;
    flex: 1 1 0%
}

.login_form{
    margin-top: 30px;
    text-align: left;
    font-weight: normal;
    label{
        font-weight: normal
    }
}

.login_container {
  margin: 50px auto;
  background: @body-bg;
  max-width: 400px;
  min-width: 300px;
  padding: 0px 0px 20px;
  border-radius: 3px;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background-color: @body-bg;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.19), 0px 6px 10px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

.form_header{
    margin: 0;
    padding: 5px 0 15px 25px;
    background: @popover-header;
    color: @popover-dialog-header;
    border-radius: 2px 2px 0 0;
    font-size: 30px;
    height: 80px;
    line-height: 75px;
    padding-left: 40px;
    span {
        font-size: 15px;
        height: 20px;
  }
}

.login-error{
    color: @error-color;
    text-align: center;
}
.blue.lighten-2{
    width: 100%;
}
.to_registration{
    text-align: center;
    margin-top: 25px;
}

.blue.lighten-2 {
  background-color: rgb(0, 188, 212) !important;
}