.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px;
  overflow: hidden;
}
/* Footer left */
.footer-distributed .footer-left {
  float: left;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer right */
.footer-distributed .footer-right {
  float: right;
}
/* The search form */
.footer-distributed form {
  position: relative;
}
.footer-distributed form input {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 500px;
  padding: 18px 50px 18px 18px;
}
.footer-distributed form input:focus {
  outline: none;
}
/* Changing the placeholder color */
.footer-distributed form input::-webkit-input-placeholder {
  color: #5c666b;
}
.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color: #5c666b;
}
.footer-distributed form input:-ms-input-placeholder {
  color: #5c666b;
}
/* The magnify glass icon */
.footer-distributed form i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #d1d2d2;
  font-size: 18px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1000px) {
  .footer-distributed form input {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
    text-align: center;
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-company-name {
    margin-top: 10px;
    font-size: 12px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }
  .footer-distributed .footer-left {
    margin-bottom: 20px;
  }
  .footer-distributed form input {
    width: 100%;
  }
}
body {
  background: #f9f9f9;
}
form {
  margin: 0 auto;
  max-width: 300px;
  min-width: 100px;
  text-align: center;
}
li.error {
  color: #f44336;
}
li.success {
  color: #3c763d;
}
.registration_container {
  margin: 50px auto;
  background: rgba(245, 245, 245, 0.7);
  max-width: 400px;
  min-width: 300px;
  padding: 0px 0px 20px;
  border-radius: 3px;
  position: relative;
}
.popover-rules ul {
  margin-top: 10px;
}
.popover-rules ul li {
  font-size: 15px;
  padding: 0 25px;
}
.popover-rules ul li span {
  margin-left: 7px;
}
.popover-rules ul li span.glyphicon {
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0;
}
.popover-title {
  padding-left: 20px;
}
.field-wrapper {
  height: 80px;
  text-align: center;
}
.field-wrapper div:first-child div:last-child {
  text-align: right;
}
.field-wrapper label {
  font-weight: normal;
}
.submit-btn {
  margin: 20px 0px 10px;
  min-width: 256px !important;
}
.popover-rules {
  min-width: 270px;
}
.popover-rules p {
  margin: 0;
  padding: 15px 0 15px 25px;
  background: #0097a7;
  color: #fff;
}
.popover-rules ul {
  list-style: none;
  padding: 0;
}
.popover-rules li {
  line-height: 25px;
  padding: 0 25px;
}
.registration-form-header {
  margin: 0;
  padding: 5px 0 15px 25px;
  background: #0097a7;
  color: #fff;
  border-radius: 2px 2px 0 0;
  font-size: 30px;
  height: 80px;
  line-height: 75px;
  padding-left: 40px;
}
.registration-form-header span {
  font-size: 15px;
  height: 20px;
}
.login {
  margin-top: 10px;
}
.login a:visited {
  color: #1d67a4;
}
.success-screen {
  text-align: center;
  margin-top: 50px;
}
.success-screen p {
  font-size: 15px;
}
.success-screen-icon {
  font-size: 100px;
  color: #63e863;
}
html,
body {
  height: 100%;
}
html .container,
body .container {
  min-height: 100%;
  position: relative;
}
html footer,
body footer {
  position: relative;
}
.map {
  width: 100%;
  height: 250px;
}
.subheader {
  padding: 0 24px;
}
.paper-element {
  padding: 0 40px;
}
.button-group {
  text-align: right;
  margin: 50px 40px 20px 40px;
}
.button-group > div {
  margin-left: 10px;
}
.team-members {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
}
.team-members .members-wrap {
  padding: 10px 40px 0 40px;
}
.team-members .members-header {
  margin: 0;
  padding: 5px 40px 15px 25px;
  background: #0097a7;
  color: #fff;
  border-radius: 2px 2px 0 0;
  font-size: 30px;
  height: 80px;
  line-height: 75px;
  padding-left: 40px;
}
.team-members .members-header input {
  font-size: 30px !important;
  color: #fff !important;
}
.team-members .members-header input ~ div hr:first-child {
  display: none;
}
.team-members > div:first-child {
  padding-bottom: 10px;
}
.companies-list {
  margin-top: 20px;
}
.members-wrap > div:first-child {
  max-height: 288px;
  overflow: auto;
}
.members-wrap svg {
  color: rgba(169, 165, 165, 0.870588) !important;
}
.members-wrap svg:hover {
  color: #747070 !important;
}
.team-members-search {
  padding-left: 60px;
}
.add-users-button {
  display: block;
  max-width: 200px;
  margin: 20px auto;
}
.main-container {
  min-height: 100%;
  position: relative;
}
.content {
  padding-bottom: 150px;
}
.footer-distributed {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  margin-top: 20px;
  padding: 30px 0px;
}
.footer-distributed p {
  color: #8f9296;
  font-weight: normal;
  text-align: center;
}
.footer-distributed p:first-child {
  color: #e0e1e2;
  font-size: 13px;
}
.outer-div {
  display: inline;
  min-width: 200px;
  width: 250px;
  float: right;
}
.outer-div .inner-div {
  float: left;
}
