@import "footer";
@import "header";
@import "registration";
@import "colors";
@import "events";
@import "event";
@import "login";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


*{
  font-family: Roboto;
}


html,body{
  height:100%;
  .container{
    min-height: 100%;
    position: relative;
  }
 footer{
    position: relative;
 }
}

.subheader {
  padding: 0 24px;
}

.paper-element {
  padding: 0 40px;
}

.button-group {
  text-align: right;
  margin: 50px 40px 20px 40px;
  > div {
    margin-left: 10px;
  }
}

.team-members {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;

  .members-wrap {
    padding: 10px 40px 0 40px;
  }
  .members-header {
    margin: 0;
    padding: 5px 40px 15px 25px;
    background: @popover-header;
    color: @popover-dialog-header;
    border-radius: 2px 2px 0 0;
    font-size: 30px;
    height: 80px;
    line-height: 75px;
    padding-left: 40px;
    input{
      font-size: 30px !important;
      color: @popover-dialog-header !important;
      padding-bottom: 15px !important;
      ~ div hr:first-child {
        display: none;
      }
      ~ div hr:last-child {
        //border-bottom-color: @rule-color !important;
      }
      &:hover {
        cursor: pointer !important;
      }
      &:focus:hover {
        cursor: text !important;
      }
    }
  }
  > div:first-child {
    padding-bottom: 10px;
  }
}

.companies-list {
  margin-top: 20px;
}

.members-wrap {
  > div:first-child {
    max-height: 288px;
    overflow: auto;
  }
  svg {
    color: rgba(169, 165, 165, 0.870588) !important;
    &:hover {
      color: rgb(116, 112, 112) !important;
    }
  }
}

.team-members-search {
    padding-left: 60px;
  }

.add-users-button {
    display: block;
    max-width: 100%;
    margin: 20px 40px;
    text-align: right;
    > div:not(:first-child) {
      display: inline-block;
    }
    > div:last-child {
      margin-left: 10px;
    }
    .delete-button {
      margin-right: 10px;
    }
}

.delete-button {
  button {
    background-color: @error-color !important;
  }
}
.main-container{
  min-height:100%;
   position:relative;
}

.content{
  padding-bottom:150px;
}

.footer-distributed {
   position:absolute;
   bottom:0;
   width:100%;
   height:130px;
  margin-top: 20px;
  padding: 30px 0px;
   p {
     color: #8f9296;
     font-weight: normal;
     text-align: center;
     &:first-child {
       color: #e0e1e2;
       font-size: 13px;
     }
   }
}

.dialog-window {
  margin: 0 auto !important;
  max-width: 500px !important;
  width: 100% !important;
  label {
    font-weight: normal;
  }
}

.dialog-title {
  background-color: @popover-header !important;
  color: @popover-dialog-header !important;
  font-size: 30px !important;
}

.outer-div {
  display: inline;
  min-width: 200px;
  width: 250px;
  float: right;
  .inner-div {
    float: left;
  }
}

.filter-message {
  font-size: 18px;
  color: @hint-text;
}

.avatar {
  background-color: @popover-header !important;
  color: @popover-dialog-header !important;
}

.chip-input {
  padding-top: 20px !important;
}