
@import "colors";

.voting-wrap {
    padding: 10px 40px 0 25px;
    .voting-header {
      margin: 0;
      padding: 5px 40px 15px 40px;
      background: @popover-header;
      color: @rule-color;
      border-radius: 2px 2px 0 0;
      font-size: 30px;
      height: 80px;
      line-height: 75px;
      .voting-timer {
        float: right;
        font-size: 15px;
      }
    }
}

.choice-item {
  margin: 20px 40px !important;
}

.tooltip-avatar {
  margin: 3px 15px;
  display: inline-block;
}

.tooltip {
  color: @rule-color;
  font-size: 20px !important;
  max-width: 212px;
  max-height: 100px;


}