{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Events{% endblock title %}</title>
    {% load compile_static %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vendor/fullcalendar.min.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'css/vendor/fullcalendar.print.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.less'|compile %}" />
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiA8bcV0Ft_uX_52t0OEUj3FQywiNL6TI&callback=initMap">
    </script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    {% block head %}{% endblock head %}

</head>
<body>
    <div class="main-container">
        <div class="content">
        {% block content %}
            {% load static %}
            <div id="root"></div>
            <script type="text/javascript" src="{% static 'bundles/main.js' %}"></script>
        {% endblock content %}
        </div>
    {% include 'footer.html' %}
    </div>
</body>
</html>
